<phpunit bootstrap="noauto/bootstrap.php"> 
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="main">
            <file>noauto/Test.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>vendor</directory>
                <directory>noauto</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
